main {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.blue-box {
  background-color: #003fff;
}

h1, li, a {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
}

.btn {
  background-color: #F16F53;
  border-style: none;
}

a {
  text-decoration: none;
}

.chewy {
  background-image: url("../images/chewy.jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 80vh;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 25em) {
  .chewy {
    background-image: url("../images/chewy.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 50vh;
    background-repeat: no-repeat;
  }

  .nav-box {
    position: fixed;
    top: 0;
    xwidth: 100%;
  }

  .nav {
    display: none;
  }

  .nav-check:checked ~ .nav {
  display: block;
  }

  .name {
    width: 11em;
  }

  @media only screen and (min-width: 60em) {
    .chewy {
      background-image: url("../images/chewy.jpg");
      background-position: right center;
      background-size: cover;
      width: 40vw;
      height: 100vh;
      background-repeat: no-repeat;
    }

  }
